*
{
  --main-font: 'Inter', sans-serif;
  --symbols: 'Symbols', sans-serif;
}

body, html
{
  margin: 0;
  background-color: #053D5C;
  font-family: var(--symbols);
}

#titles
{
  display: grid;
}

#title
{
  color: #DDDDDD;
  font-size: 8vh;
}

#subtitle
{
  font-size: 6vh;
}

#me
{
  border-radius: 100%;
}

#description
{
  color: #B2B6FF;
  font-size: 5vh;
}

#presentation
{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1vw;
  justify-items: center;
  align-items: center;
}

#cv-container
{
  text-align: end;
}

#cv-container a
{
  text-decoration: none;
  color: #0CA3F5;
  font-size: 5vh;
}

.section
{
  border-bottom: 5px solid black;
  margin: 3vh 3vw;
  padding: 0 0 3vh 0;
}

header
{
  background-color: #000045;
  padding: 3vh 0;
}

#header
{
  position: absolute;
  width: 100%;
  top: 0;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

li a
{
  color: #DAD5D5;
  text-decoration: none;
  font-size: 5vh;
}

li a:hover
{
  text-decoration: underline;
  color: #A100F2;
}

.staying
{
  color: #FF0000;
}

.section-title
{
  font-size: 6vh;
  text-align: center;
  color: #0CA3F5;
}

#projects-container
{
  border-bottom: 5px solid black;
  margin: 3vh 3vw;
  padding: 0 0 3vh 0;
}

#projects, #technologies
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3vw;
  row-gap: 2vh;
}

.project
{
  background: #000045;
  color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vh 1vw;
  position: relative;
  border: .2px solid white;
}

.project-background
{
  background: #000045;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity .25s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: .2px solid white;
}

.deploy
{
  --main-color: #520422;
}

.github
{
  --main-color: #3F055C;
}

.github, .deploy
{
  border-radius: 20px;
  border: 5px solid var(--main-color);
  text-decoration: none;
  color: white;
  font-size: 4vh;
  margin: 1vh;
  padding: .5vh 2vw;
  transition: background .2s ease-out;
}

.github:hover, .deploy:hover
{
  background: var(--main-color);
}

.project:hover .project-background
{
  opacity: .90;
}

.project:hover .links
{
  background: none;
  opacity: 1;
}

.project-name, .technology p
{
  font-size: 5vh;
  margin: 0;
  text-align: center;
}

.project-tech
{
  text-align: center;
}

.project-desc
{
  margin: 1vh 1vw 0 1vw;
  text-align: justify;
}

.project-technology
{
  display: inline-block;
  border-radius: 10px;
  background: #52505040;
  margin: 1vh 1vw;
}

.project-technology p
{
  margin: 1vh;
  font-size: 2.3vh;
}

#technologies-container
{
  border-bottom: 5px solid black;
  margin: 3vh 3vw;
  padding: 0 0 3vh 0;
}

.technology
{
  background: #0CA3F5;
  color: #3F055C;
  border: 2px solid #000045;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform .4s ease-out;
}

.technology:hover
{
  transform: scale(1.1);
  cursor: pointer;
}

.technology img
{
  height: auto;
  width: auto;
  max-width: 20vw;
  max-height: 30vh;
  margin: 1vh;
}

#work
{
  margin: 3vh 3vw;
  border-bottom: 5px solid black;
}

#repos
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vh 2vw;
  padding: 0 0 3vh 0;
}

.repo
{
  background: #000045;
  color: white;
  border-radius: 7px;
  border: 0.2px solid white;
  padding: 2vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .2s ease-out;
}

.repo:hover
{
  transform: scale(1.1);
}

.repo-name
{
  font-size: 4.5vh;
  text-decoration: none;
  color: white;
  text-align: center;
}

.repo-info
{
  display: flex;
  gap: 2vw;
  justify-content: center;
}

.repo-stat
{
  background: #52505040;
  color: white;
  font-family: var(--symbols);
  text-decoration: none;
  border-radius: 10px;
  background: #52505040;
  padding: 1vh 1vw;
}

.language-color
{
  height: 2vh;
  width: 2vh;
  display: inline-block;
  border-radius: 50%;
  margin: 0 .5vw 0 0;
}

#contact-form
{
  background: #000045;
  color: #DAD5D5;
  border-radius: 7px;
  border: 0.2px solid white;
  padding: 0 4vw;
  font-size: 3.5vh;
  margin: 0 10vw;
}

#message-data
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
}

.message-info
{
  display: flex;
  flex-direction: column;
}

.message-info p
{
  margin-top: 2vh;
}

.message-info input, textarea
{
  font-size: 3vh;
  border-radius: 7px;
  background: none;
  border: 1px solid white;
  color: white;
  padding: .7vh 1vw;
}

.message-info input:focus, textarea:focus
{
  outline: none;
  border: 2px solid #0CA3F5;
}

#message textarea
{
  resize: vertical;
  min-height: 10vh;
  max-height: 30vh;
  font-family: var(--main-font);
}

#send-container
{
  display: flex;
  justify-content: flex-end;
}

#send
{
  font-family: var(--symbols);
  margin: 2.5vh 0;
  font-size: 3vh;
  padding: 1vh 1vw;
  border-radius: 10px;
  border: none;
  background: #053D5C;
  color: #DAD5D5;
  cursor: pointer;
}

#send:hover
{
  background: #086599;
}

#send:hover span
{
  margin: 0 0 0 2vw;
}

#send span
{
  margin: 0 1vw 0 1vw;
  transition: all .2s;
}

@font-face
{
  font-family: 'Symbols';
  src: url('../assets/Symbols-2048-em Nerd Font Complete.woff2') format('woff2');
}


#footer a
{
  font-family: var(--symbols);
  text-decoration: none;
  font-size: 7vh;
  color: #0CA3F5;
  border: 2px solid #0CA3F5;
  border-radius: 100px;
  padding: 2vh;
  transition: all .3s ease-out;
}

#footer a:hover
{
  background: #0CA3F5;
  color: #053D5C;
}

#footer
{
  display: flex;
  justify-content: space-evenly;
  margin: 3vh;
}

@media (max-width: 980px)
{
  #projects, #technologies, #repos
  {
    grid-template-columns: 1fr 1fr;
  }

  #message-data
  {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px)
{
  #me
  {
    width: 60%;
  }

  #presentation
  {
    grid-template-columns: none;
  }
}

@media (max-width: 500px)
{
  #presentation
  {
    grid-template-columns: none;
  }

  .message-info input, textarea
  {
    max-width: 63vw;
  }
  
  #projects, #technologies, #repos
  {
    grid-template-columns: 1fr;
    max-height: 60vh;
    overflow-y: auto;
    padding: 1.5vh 4.5vw;
  }

  li a
  {
    font-size: 4vh;
  }

  #footer a
  {
    font-size: 3vh;
  }

  #title
  {
    font-size: 6vh;
  }

  #description
  {
    font-size: 4vh;
  }
}
